*{
	font-family:"";
}


.main-page-content{
	padding-top:50px;
}
.footer p{
	color:#003399;
}
.jumbotron{
	text-align:center;
	background-color: #60BDAB;
}

.navbar-brand{
	background-color:#003399;
}



/*Blog Page */
a.btn{

	margin-top:30px;
}
.modal-header{
	background-color:#195781;
}
.modal-body{
	background-color:#CDD5DC;
	color:#195781;
	font-style: italic;
}

/*About Page */
div #myCarousel{
	margin-top:20px;
}
